@import './variables.css';
@import './iconfonts.css';

@lost flexbox flex;

/** Mixin 
@color de texto
@color inicio gradiente
@color fin gradiiante
**/
@define-mixin btn  $textColor, $bgColor, $bgColorStart, $bgColorEnd{
	background: $(bgColor);
	background: linear-gradient(to left, $(bgColorStart), $(bgColorEnd));
	border-radius: 12px;
	border: none;
	color: $(textColor);
	padding: 7px 12px;
	cursor: pointer;
	text-decoration: none;
	font-size: var(--fontSize);
}

.u-Grid{
	background: gray;
	lost-center: 800px ;
	lost-utility: clearfix;

	
	&-column{
		background-color: blue;
		lost-column: 1/5 ;
		
		@media (--mobile){
			lost-column: 1/1 ;
		}
		
	}
}
.u-wrapper{
	width: 800px;
	margin: auto;
	position: relative;
}

.u-scrollContainer{
	width: 100%;
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 20px;
	
	/**propiedades de scrroll*/
	scroll-snap-points-x: repeat(100%);
	scroll-snap-type: mandatory;
	font-size: 0;
	
	&-itemContainer{
		border: 1px solid var(--border-feature);
		border-radius: 12px;
		width:98%;
		margin: 1%;
		display: inline-block;
		line-height:18px;
		font-size: var(--fontSize);
	}
	&-itemContent{
		display: flex;
		
		& > img{
			width: auto;
			height: 200px;
		}
	}
	
}
.InvieHero{
	
	
	background: url('../images/background.png') var(--bg-header);
	padding: 20px;
	height: 500px;
	
	@media(--retina){
		background-images: url('../images/background2.png');
	}
	
	&-header{
			display:flex;
			flex-direction: row;
			justify-content: space-between;
			
	}
	&-logo{
		&:hover{
			filter: blur(4px);
		}
	}
	&-copy{
		&-tittle{
			font-size: calc(var(--fontSize) * 3.5);
		}
		&-btn{
			@mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start) , var(--btn-gradient-end) ;
		}
	}
	
}

.InvieFooter{
	background-color: var(--bg-footer);
	&-form{
		&-btn{
			@mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start) , var(--btn-gradient-end) ;
		}
	}
}
